<mat-form-field>
	<input matInput [placeholder]="placeholder" [formControl]="formControl"
	       required [name]="name" [type]="showPassword ? 'text' : 'password'"
	       [autocomplete]="(isNewPassword ? 'new-password' : 'current-password')">
	<button mat-icon-button matSuffix (click)="showPassword = !showPassword"
	        type="button" *ngIf="visibilityButton">
		<mat-icon>visibility{{showPassword ? '' : '_off'}}</mat-icon>
	</button>
	<mat-hint *ngIf="isNewPassword && hint">
		6 to 1024 characters, inclusive. Please choose something secure
	</mat-hint>
	<mat-hint *ngIf="isNewPassword" align="end">
		{{formControl.value.length}}/1024
	</mat-hint>
	<mat-error>{{getErrorMessage()}}</mat-error>
</mat-form-field>