<button mat-icon-button class="close-button" (click)="sidenav.close()">
	<mat-icon>
		close
	</mat-icon>
</button>
<h1>Menu</h1>
<p>This is the.. uh.. menu. What else should I say here?</p>
<p>
	<a mat-button routerLink="/dashboard" class="fullwidth">Return to Dashboard</a>
</p>
<h2>Editor Configuration</h2>
<ng-container *ngIf="optionsReady">
	<p>(The save button is at the bottom. Don't forget to use it!)</p>
	<mat-form-field><input matInput placeholder="ariaLabel" [disabled]="saving" [(ngModel)]="editorOptions.ariaLabel">
	</mat-form-field>
	<!--mat-form-field><input matInput placeholder="rulers[]" [(ngModel)]="editorOptions.rulers[]"></mat-form-field-->
	<mat-form-field><input matInput placeholder="wordSeparators" [disabled]="saving"
	                       [(ngModel)]="editorOptions.wordSeparators"></mat-form-field>
	<label>selectionClipboard
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.selectionClipboard"></mat-slide-toggle>
	</label>
	<mat-form-field>
		<mat-select [disabled]="saving" [(ngModel)]="editorOptions.lineNumbers" placeholder="lineNumbers">
			<mat-option value="on">
				on
			</mat-option>
			<mat-option value="off">
				off
			</mat-option>
			<mat-option value="relative">
				relative
			</mat-option>
		</mat-select>
	</mat-form-field>
	<label>selectOnLineNumbers
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.selectOnLineNumbers"></mat-slide-toggle>
	</label>
	<mat-form-field><input matInput placeholder="lineNumbersMinChars" [disabled]="saving"
	                       [(ngModel)]="editorOptions.lineNumbersMinChars"></mat-form-field>
	<label>glyphMargin
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.glyphMargin"></mat-slide-toggle>
	</label>
	<mat-form-field><input matInput placeholder="lineDecorationsWidth" [disabled]="saving"
	                       [(ngModel)]="editorOptions.lineDecorationsWidth"></mat-form-field>
	<mat-form-field><input matInput placeholder="revealHorizontalRightPadding" [disabled]="saving"
	                       [(ngModel)]="editorOptions.revealHorizontalRightPadding"></mat-form-field>
	<label>roundedSelection
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.roundedSelection"></mat-slide-toggle>
	</label>
	<mat-form-field><input matInput placeholder="extraEditorClassName" [disabled]="saving"
	                       [(ngModel)]="editorOptions.extraEditorClassName"></mat-form-field>
	<label>readOnly
		<mat-slide-toggle color="primary" [disabled]="saving" [(ngModel)]="editorOptions.readOnly"></mat-slide-toggle>
	</label>
	<!--scrollbar:IEditorScrollbarOptions
	minimap:IEditorMinimapOptions
	find:IEditorFindOptions-->
	<label>fixedOverflowWidgets
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.fixedOverflowWidgets"></mat-slide-toggle>
	</label>
	<mat-form-field><input matInput placeholder="overviewRulerLanes" [disabled]="saving"
	                       [(ngModel)]="editorOptions.overviewRulerLanes"></mat-form-field>
	<label>overviewRulerBorder
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.overviewRulerBorder"></mat-slide-toggle>
	</label>
	<mat-form-field>
		<mat-select [disabled]="saving" [(ngModel)]="editorOptions.cursorBlinking" placeholder="cursorBlinking">
			<mat-option value="blink">
				blink
			</mat-option>
			<mat-option value="smooth">
				smooth
			</mat-option>
			<mat-option value="phase">
				phase
			</mat-option>
			<mat-option value="expand">
				expand
			</mat-option>
			<mat-option value="solid">
				solid
			</mat-option>
		</mat-select>
	</mat-form-field>
	<label>mouseWheelZoom
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.mouseWheelZoom"></mat-slide-toggle>
	</label>
	<mat-form-field>
		<mat-select [disabled]="saving" [(ngModel)]="editorOptions.cursorStyle" placeholder="cursorStyle">
			<mat-option value="off">
				block
			</mat-option>
			<mat-option value="on">
				line
			</mat-option>
		</mat-select>
	</mat-form-field>
	<label>fontLigatures
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.fontLigatures"></mat-slide-toggle>
	</label>
	<label>disableLayerHinting
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.disableLayerHinting"></mat-slide-toggle>
	</label>
	<label>disableMonospaceOptimizations
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.disableMonospaceOptimizations"></mat-slide-toggle>
	</label>
	<label>hideCursorInOverviewRuler
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.hideCursorInOverviewRuler"></mat-slide-toggle>
	</label>
	<label>scrollBeyondLastLine
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.scrollBeyondLastLine"></mat-slide-toggle>
	</label>
	<label>automaticLayout
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.automaticLayout"></mat-slide-toggle>
	</label>
	<mat-form-field>
		<mat-select [disabled]="saving" [(ngModel)]="editorOptions.wordWrap" placeholder="wordWrap">
			<mat-option value="off">
				off
			</mat-option>
			<mat-option value="on">
				on
			</mat-option>
			<mat-option value="wordWrapColumn">
				wordWrapColumn
			</mat-option>
			<mat-option value="bounded">
				bounded
			</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field><input matInput placeholder="wordWrapColumn" [disabled]="saving"
	                       [(ngModel)]="editorOptions.wordWrapColumn"></mat-form-field>
	<label>wordWrapMinified
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.wordWrapMinified"></mat-slide-toggle>
	</label>
	<mat-form-field>
		<mat-select [disabled]="saving" [(ngModel)]="editorOptions.wrappingIndent" placeholder="wrappingIndent">
			<mat-option value="none">
				none
			</mat-option>
			<mat-option value="same">
				same
			</mat-option>
			<mat-option value="indent">
				indent
			</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field><input matInput placeholder="wordWrapBreakBeforeCharacters" [disabled]="saving"
	                       [(ngModel)]="editorOptions.wordWrapBreakBeforeCharacters"></mat-form-field>
	<mat-form-field><input matInput placeholder="wordWrapBreakAfterCharacters" [disabled]="saving"
	                       [(ngModel)]="editorOptions.wordWrapBreakAfterCharacters"></mat-form-field>
	<mat-form-field><input matInput placeholder="wordWrapBreakObtrusiveCharacters" [disabled]="saving"
	                       [(ngModel)]="editorOptions.wordWrapBreakObtrusiveCharacters"></mat-form-field>
	<mat-form-field><input matInput placeholder="stopRenderingLineAfter" [disabled]="saving"
	                       [(ngModel)]="editorOptions.stopRenderingLineAfter"></mat-form-field>
	<label>hover
		<mat-slide-toggle color="primary" [disabled]="saving" [(ngModel)]="editorOptions.hover"></mat-slide-toggle>
	</label>
	<label>links
		<mat-slide-toggle color="primary" [disabled]="saving" [(ngModel)]="editorOptions.links"></mat-slide-toggle>
	</label>
	<label>contextmenu
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.contextmenu"></mat-slide-toggle>
	</label>
	<mat-form-field><input matInput placeholder="mouseWheelScrollSensitivity" [disabled]="saving"
	                       [(ngModel)]="editorOptions.mouseWheelScrollSensitivity"></mat-form-field>
	<mat-form-field>
		<mat-select [disabled]="saving" [(ngModel)]="editorOptions.multiCursorModifier"
		            placeholder="multiCursorModifier">
			<mat-option value="ctrlCmd">
				ctrlCmd
			</mat-option>
			<mat-option value="alt">
				alt
			</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field>
		<mat-select [disabled]="saving" [(ngModel)]="editorOptions.accessibilitySupport"
		            placeholder="accessibilitySupport">
			<mat-option value="auto">
				auto
			</mat-option>
			<mat-option value="off">
				off
			</mat-option>
			<mat-option value="on">
				on
			</mat-option>
		</mat-select>
	</mat-form-field>
	<label>quickSuggestions
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.quickSuggestions"></mat-slide-toggle>
	</label>
	<mat-form-field><input matInput placeholder="quickSuggestionsDelay" [disabled]="saving"
	                       [(ngModel)]="editorOptions.quickSuggestionsDelay"></mat-form-field>
	<label>parameterHints
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.parameterHints"></mat-slide-toggle>
	</label>
	<label>iconsInSuggestions
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.iconsInSuggestions"></mat-slide-toggle>
	</label>
	<label>autoClosingBrackets
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.autoClosingBrackets"></mat-slide-toggle>
	</label>
	<label>autoIndent
		<mat-slide-toggle color="primary" [disabled]="saving" [(ngModel)]="editorOptions.autoIndent"></mat-slide-toggle>
	</label>
	<label>formatOnType
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.formatOnType"></mat-slide-toggle>
	</label>
	<label>formatOnPaste
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.formatOnPaste"></mat-slide-toggle>
	</label>
	<label>dragAndDrop
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.dragAndDrop"></mat-slide-toggle>
	</label>
	<label>suggestOnTriggerCharacters
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.suggestOnTriggerCharacters"></mat-slide-toggle>
	</label>
	<mat-form-field>
		<mat-select [disabled]="saving" [(ngModel)]="editorOptions.acceptSuggestionOnEnter"
		            placeholder="acceptSuggestionOnEnter">
			<mat-option value="on">
				on
			</mat-option>
			<mat-option value="smart">
				smart
			</mat-option>
			<mat-option value="off">
				off
			</mat-option>
		</mat-select>
	</mat-form-field>
	<label>acceptSuggestionOnCommitCharacter
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.acceptSuggestionOnCommitCharacter"></mat-slide-toggle>
	</label>
	<mat-form-field>
		<mat-select [disabled]="saving" [(ngModel)]="editorOptions.snippetSuggestions" placeholder="snippetSuggestions">
			<mat-option value="top">
				top
			</mat-option>
			<mat-option value="bottom">
				bottom
			</mat-option>
			<mat-option value="inline">
				inline
			</mat-option>
			<mat-option value="none">
				none
			</mat-option>
		</mat-select>
	</mat-form-field>
	<label>emptySelectionClipboard
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.emptySelectionClipboard"></mat-slide-toggle>
	</label>
	<label>wordBasedSuggestions
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.wordBasedSuggestions"></mat-slide-toggle>
	</label>
	<mat-form-field><input matInput placeholder="suggestFontSize" [disabled]="saving"
	                       [(ngModel)]="editorOptions.suggestFontSize"></mat-form-field>
	<mat-form-field><input matInput placeholder="suggestLineHeight" [disabled]="saving"
	                       [(ngModel)]="editorOptions.suggestLineHeight"></mat-form-field>
	<label>selectionHighlight
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.selectionHighlight"></mat-slide-toggle>
	</label>
	<label>occurrencesHighlight
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.occurrencesHighlight"></mat-slide-toggle>
	</label>
	<label>codeLens
		<mat-slide-toggle color="primary" [disabled]="saving" [(ngModel)]="editorOptions.codeLens"></mat-slide-toggle>
	</label>
	<label>folding
		<mat-slide-toggle color="primary" [disabled]="saving" [(ngModel)]="editorOptions.folding"></mat-slide-toggle>
	</label>
	<mat-form-field>
		<mat-select [disabled]="saving" [(ngModel)]="editorOptions.showFoldingControls"
		            placeholder="showFoldingControls">
			<mat-option value="always">
				always
			</mat-option>
			<mat-option value="mouseover">
				mouseover
			</mat-option>
		</mat-select>
	</mat-form-field>
	<label>matchBrackets
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.matchBrackets"></mat-slide-toggle>
	</label>
	<mat-form-field>
		<mat-select [disabled]="saving" [(ngModel)]="editorOptions.renderWhitespace" placeholder="renderWhitespace">
			<mat-option value="none">
				none
			</mat-option>
			<mat-option value="boundary">
				boundary
			</mat-option>
			<mat-option value="all">
				all
			</mat-option>
		</mat-select>
	</mat-form-field>
	<label>renderControlCharacters
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.renderControlCharacters"></mat-slide-toggle>
	</label>
	<label>renderIndentGuides
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.renderIndentGuides"></mat-slide-toggle>
	</label>
	<mat-form-field>
		<mat-select [disabled]="saving" [(ngModel)]="editorOptions.renderLineHighlight"
		            placeholder="renderLineHighlight">
			<mat-option value="none">
				none
			</mat-option>
			<mat-option value="gutter">
				gutter
			</mat-option>
			<mat-option value="line">
				line
			</mat-option>
			<mat-option value="all">
				all
			</mat-option>
		</mat-select>
	</mat-form-field>
	<label>useTabStops
		<mat-slide-toggle color="primary" [disabled]="saving"
		                  [(ngModel)]="editorOptions.useTabStops"></mat-slide-toggle>
	</label>
	<mat-form-field><input matInput placeholder="fontFamily" [disabled]="saving" [(ngModel)]="editorOptions.fontFamily">
	</mat-form-field>
	<mat-form-field>
		<mat-select [disabled]="saving" [(ngModel)]="editorOptions.fontWeight" placeholder="fontWeight">
			<mat-option value="normal">
				normal
			</mat-option>
			<mat-option value="bold">
				bold
			</mat-option>
			<mat-option value="bolder">
				bolder
			</mat-option>
			<mat-option value="lighter">
				lighter
			</mat-option>
			<mat-option value="initial">
				initial
			</mat-option>
			<mat-option value="inherit">
				inherit
			</mat-option>
			<mat-option value="100">
				100
			</mat-option>
			<mat-option value="200">
				200
			</mat-option>
			<mat-option value="300">
				300
			</mat-option>
			<mat-option value="400">
				400
			</mat-option>
			<mat-option value="500">
				500
			</mat-option>
			<mat-option value="600">
				600
			</mat-option>
			<mat-option value="700">
				700
			</mat-option>
			<mat-option value="800">
				800
			</mat-option>
			<mat-option value="900">
				900
			</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field><input matInput placeholder="fontSize" [disabled]="saving" [(ngModel)]="editorOptions.fontSize">
	</mat-form-field>
	<mat-form-field><input matInput placeholder="lineHeight" [disabled]="saving" [(ngModel)]="editorOptions.lineHeight">
	</mat-form-field>
	<mat-form-field><input matInput placeholder="letterSpacing" [disabled]="saving"
	                       [(ngModel)]="editorOptions.letterSpacing"></mat-form-field>
	<!--mat-form-field>
		<mat-select [disabled]="saving" [(ngModel)]="editorOptions.language" placeholder="language">
			<mat-option value="css">
				css
			</mat-option>
			<mat-option value="json">
				json
			</mat-option>
			<mat-option value="html">
				html
			</mat-option>
			<mat-option value="typescript">
				typescript
			</mat-option>
		</mat-select>
	</mat-form-field-->
	<mat-form-field>
		<mat-select [disabled]="saving" [(ngModel)]="editorOptions.theme" placeholder="theme">
			<mat-option value="vs">
				vs
			</mat-option>
			<mat-option value="vs-dark">
				vs-dark
			</mat-option>
			<mat-option value="hc-black">
				hc-black
			</mat-option>
		</mat-select>
	</mat-form-field>
	<div class="buttons">
		<button mat-button [disabled]="saving" (click)="resetSettings()">Reset Settings</button>
		<button mat-flat-button [disabled]="saving" (click)="saveSettings()">
			{{saving ? 'Saving Settings' : 'Save Settings'}}
		</button>
	</div>
</ng-container>
<mat-progress-spinner mode="indeterminate" *ngIf="!optionsReady"></mat-progress-spinner>
