<mat-card *ngIf="!working">
	<mat-card-title>
		Sign into your account
	</mat-card-title>
	<mat-card-subtitle>
		An account is required to use save functionality.
	</mat-card-subtitle>
	<mat-divider></mat-divider>
	<mat-card-content *ngIf="error">
		<p class="error">
			We failed to sign you in. Are you sure you entered your account details correctly?
		</p>
	</mat-card-content>
	<mat-card-content (keydown.enter)="signIn()">
		<mat-form-field>
			<input matInput placeholder="Username" [(ngModel)]="username">
		</mat-form-field>
		<mat-form-field>
			<input matInput placeholder="Password" [(ngModel)]="password" [type]="showPassword? 'text' : 'password'">
			<button mat-icon-button matSuffix (click)="showPassword = !showPassword">
				<mat-icon>visibility{{showPassword ? '' : '_off'}}</mat-icon>
			</button>
		</mat-form-field>
	</mat-card-content>
	<app-global-footer></app-global-footer>
	<mat-divider></mat-divider>
	<mat-card-content>
		<a mat-button routerLink="/register">Register</a>
		<div class="buttons">
			<a mat-flat-button (click)="signIn()">Sign In</a>
		</div>
	</mat-card-content>
</mat-card>
<mat-progress-spinner mode="indeterminate" *ngIf="working"></mat-progress-spinner>
