<div class="content" *ngIf="!working">
	<h1>Users</h1>
	<mat-nav-list *ngIf="users">
		<ng-container *ngFor="let user of users">
			<a mat-list-item [routerLink]="user.username">
				<mat-icon matListIcon>
					{{user.isAdmin ? 'supervisor_account' : 'account_circle'}}
				</mat-icon>
				<span matLine>
					{{user.username}}
				</span>
			</a>
		</ng-container>
		<mat-divider></mat-divider>
		<mat-list-item (click)="refresh()">
			<mat-icon matListIcon>
				refresh
			</mat-icon>
			<span matLine>
				Refresh
			</span>
		</mat-list-item>
	</mat-nav-list>
	<div class="error" *ngIf="!users">
		Sorry, we couldn't load the users. <a class="link" (click)="refresh()">Refresh</a>?
	</div>
</div>
<mat-progress-spinner mode="indeterminate"
                      *ngIf="working"></mat-progress-spinner>
