<ng-container *ngIf="!working && projects">
	<p *ngIf="projects.length == 0">
		You don't seem to have any projects!
	</p>
	<mat-nav-list>
		<ng-container *ngIf="projects.length > 0">
			<ng-container *ngFor="let project of projects">
				<app-project-item [project]="project" *ngIf="project"></app-project-item>
			</ng-container>
			<mat-divider inset></mat-divider>
		</ng-container>
		<a mat-list-item (click)="newProject()">
			<mat-icon mat-list-icon>add</mat-icon>
			<span matLine>New Project</span>
		</a>
		<a mat-list-item (click)="import()">
			<mat-icon mat-list-icon>cloud_download</mat-icon>
			<span matLine>Import from JSFiddle</span>
		</a>
		<a mat-list-item (click)="refresh()">
			<mat-icon mat-list-icon>refresh</mat-icon>
			<span matLine>Refresh</span>
		</a>
	</mat-nav-list>
</ng-container>
<p class="error" *ngIf="!working && !projects">
	Sorry, we couldn't list your projects. <a (click)="refresh()">Try Again</a>
</p>
<mat-progress-spinner mode="indeterminate" *ngIf="working"></mat-progress-spinner>
