mat-progress-spinner {
	margin: 0 auto;
}

@media screen and (min-width: 896px) {
    mat-nav-list {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .full {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}