:host {
	padding: 24px;
}

mat-progress-spinner {
	margin: auto;
}

.header {
	display: flex;
	flex-basis: 0;
	margin-bottom: 24px;
}

.header h1 {
	flex-grow: 1;
	margin: auto 0;
}

.header > * {
	vertical-align: middle;
}

.back-button {
	margin-right: 24px;
}

.content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	padding: 24px;
}

mat-form-field {
	width: 100%;
}

.password-options {
	display: flex;
}

.password-options > button {
	width: calc(50% - 12px);
}

.password-options > button:first-child {
	margin-right: 24px;
}

pre {
	overflow-x: auto;
}

p.error {
	margin: 0;
	margin-top: 16px;
}

.buttons {
	margin-top: 24px;
}

h1.error {
	font-weight: 1000;
	font-size: calc(4.5 * ((100vw - 96px) / 100));
	line-height: calc(4.5 * ((100vw - 96px) / 100));
	margin-bottom: 24px;
	text-align: center;
}

label {
	line-height: 24px;
}

label > * {
	float: right;
}
