<app-inline-spinner *ngIf="working"></app-inline-spinner>
<ng-container *ngIf="!working">
	<ng-container [ngSwitch]="status.verify_status">
		<ng-container *ngSwitchCase="'unset'">
			<mat-icon>warning</mat-icon>
			<mat-hint>Your email is unset</mat-hint>
		</ng-container>
		<ng-container *ngSwitchCase="'unverified'">
			<mat-icon matTooltip="Your email is awaiting verification.">
				history
			</mat-icon>
		</ng-container>
		<ng-container *ngSwitchCase="'verified'">
			<mat-icon matTooltip="Your email is verified!">
				check_circle
			</mat-icon>
		</ng-container>
		<ng-container *ngSwitchCase="'pending_change'">
			<mat-icon matTooltip="Your email is pending a change.">
				cached
			</mat-icon>
		</ng-container>
		<ng-container *ngSwitchDefault>
			<mat-icon
				[matTooltip]="'Unknown state. File a bug report. State: ' + status.verify_status">
				warning
			</mat-icon>
		</ng-container>
	</ng-container>
	<ng-container *ngIf="status.verify_status !== 'unset'">
		{{status.current_email || status.pending_email}}
	</ng-container>
</ng-container>