<h2 mat-dialog-title>Provide Password</h2>
<mat-hint>
	<p>
		We failed to decrypt your project data. Enter in the password to decrypt
		it. Trying previous passwords is advised.
	</p>
</mat-hint>
<mat-dialog-content>
	<form id="decryption-dialog-form"
	      (submit)="submit.disabled ? undefined : dialogRef.close(getDecrypted(decrypted))">
		<app-password-input name="password" [(ngModel)]="password"
		                    (ngModelChange)="decrypted = decrypt(encrypted, password)"></app-password-input>
	</form>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button (click)="dialogRef.close()">Cancel</button>
	<button mat-flat-button color="primary"
	        [disabled]="!getDecrypted(decrypted)"
	        [mat-dialog-close]="decrypted" #submit>
		Decrypt
	</button>
</mat-dialog-actions>