<h2 mat-dialog-title>Provide Password</h2>
<mat-hint>
	<p>
		For security reasons, you need to provide your password for encryption
		support.
	</p>
</mat-hint>
<mat-dialog-content>
	<form id="provide-password" (submit)="dialogRef.close(password.value)">
		<mat-form-field>
			<input matInput placeholder="Username" [value]="username" disabled
			       autocomplete="username">
		</mat-form-field>
		<app-password-input name="password"
		                    (formControl)="password = $event"></app-password-input>
	</form>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button (click)="dialogRef.close()">Sign Out</button>
	<button mat-flat-button color="primary" form="provide-password">
		Sign In
	</button>
</mat-dialog-actions>
