<h1>Provide Password</h1>
<p>For security reasons, you need to provide your password for encryption support.</p>
<mat-form-field>
	<input matInput placeholder="Username" [(ngModel)]="username" disabled>
</mat-form-field>
<mat-form-field>
	<input matInput placeholder="Password" [(ngModel)]="password" [type]="showPassword ? 'text' : 'password'">
	<button mat-icon-button matSuffix (click)="showPassword = !showPassword">
		<mat-icon>
			{{showPassword ? 'visibility' : 'visibility_off'}}
		</mat-icon>
	</button>
</mat-form-field>
<ng-container>
	<button mat-button (click)="dialogRef.close()">Sign Out</button>
	<div class="buttons">
		<button mat-flat-button [mat-dialog-close]="password">Sign In</button>
	</div>
</ng-container>
