<button mat-icon-button class="close-button" (click)="sidenav.close()">
	<mat-icon>
		close
	</mat-icon>
</button>
<h1>Menu</h1>
<p>
	<a mat-button routerLink="/my-projects"
	   class="fullwidth my-projects-button">
		Return to My Projects
	</a>
</p>
<h2>Settings</h2>
<ng-container *ngIf="settingsReady">
	<mat-accordion>
		<mat-expansion-panel class="mat-elevation-z0">
			<mat-expansion-panel-header>
				<mat-panel-title>Editor Settings</mat-panel-title>
				<mat-panel-description>
					Code editor settings
				</mat-panel-description>
			</mat-expansion-panel-header>
			<app-editor-sidenav-editor-settings
				[editorSettings]="accountSettings.editor"
				[disabled]="saving"></app-editor-sidenav-editor-settings>
		</mat-expansion-panel>
		<mat-expansion-panel class="mat-elevation-z0">
			<mat-expansion-panel-header>
				<mat-panel-title>Project Settings</mat-panel-title>
				<mat-panel-description>
					Project configuration
				</mat-panel-description>
			</mat-expansion-panel-header>
			<p>Work in progress</p>
		</mat-expansion-panel>
	</mat-accordion>
	<div class="buttons-wrapper">
		<div class="buttons">
			<button mat-button [disabled]="saving" (click)="resetSettings()">
				Reset Settings
			</button>
			<button mat-flat-button color="primary" [disabled]="saving"
			        (click)="saveSettings()">
				{{saving ? 'Saving Settings' : 'Save Settings'}}
			</button>
		</div>
	</div>
	<app-global-footer></app-global-footer>
</ng-container>
<mat-progress-spinner mode="indeterminate"
                      *ngIf="!settingsReady"></mat-progress-spinner>
