:host {
	padding: 24px;
	display: block;
	overflow: scroll;
}

.close-button {
	position: absolute;
	top: 20px;
	right: 24px;
}

mat-progress-spinner {
	margin: 0 auto;
}

.buttons-wrapper {
    height: 36px;
	margin-top: 24px;
}

mat-accordion {
	display: block;
	margin: 0 -24px;
}

a.dashboard-button {
	margin-bottom: 0 !important;
}