<mat-sidenav-container>
	<mat-sidenav [mode]="sidebarMode" #sidenav>
		<app-dashboard-sidenav></app-dashboard-sidenav>
	</mat-sidenav>
	<mat-sidenav-content>
		<div class="container" [class.hidden]="working">
			<mat-toolbar>
				<button mat-icon-button (click)="sidenav.toggle()">
					<mat-icon>
						menu
					</mat-icon>
				</button>
				{{service.componentData.title}}
			</mat-toolbar>
			<div class="content" [@routerAnimation]="service.componentData.id">
				<router-outlet #routerOutlet></router-outlet>
			</div>
		</div>
		<mat-progress-spinner mode="indeterminate"
		                      *ngIf="working"></mat-progress-spinner>
	</mat-sidenav-content>
</mat-sidenav-container>