<h1>Change Account Password</h1>
<p>Please enter your current and new password below.</p>
<div (keydown.enter)="onClick()">
	<mat-form-field>
		<input matInput placeholder="Old password" [type]="showOldPassword ? 'text' : 'password'" [(ngModel)]="oldPassword">
		<button mat-icon-button matSuffix (click)="showOldPassword = !showOldPassword">
			<mat-icon>visibility{{showOldPassword ? '' : '_off'}}</mat-icon>
		</button>
	</mat-form-field>
	<mat-form-field>
		<input matInput placeholder="New password" [type]="showNewPassword ? 'text' : 'password'" [(ngModel)]="newPassword">
		<button mat-icon-button matSuffix (click)="showNewPassword = !showNewPassword">
			<mat-icon>visibility{{showNewPassword ? '' : '_off'}}</mat-icon>
		</button>
	</mat-form-field>
	<mat-form-field>
		<input matInput placeholder="Confirm new password" [type]="showNewPasswordConfirm ? 'text' : 'password'"  [(ngModel)]="newPasswordConfirm">
		<button mat-icon-button matSuffix (click)="showNewPasswordConfirm = !showNewPasswordConfirm">
			<mat-icon>visibility{{showNewPasswordConfirm ? '' : '_off'}}</mat-icon>
		</button>
	</mat-form-field>
</div>
<p class="error">
	Your projects' encryption will still use your old password. This only applies until you save them again.
</p>
<button mat-button (click)="dialogRef.close()">Cancel</button>
<div class="buttons">
	<button mat-flat-button (click)="onClick()">Change</button>
</div>
