<h2 mat-dialog-title>Change Account Password</h2>
<mat-hint><p>Please enter your current and new password below.</p></mat-hint>
<mat-dialog-content>
	<form id="change-password-form" (submit)="onSubmit()">
		<app-password-input placeholder="Old password"
		                    (formControl)="oldPassword = $event"></app-password-input>
		<app-password-input placeholder="New password" [isNewPassword]="true"
		                    (formControl)="newPassword = $event"></app-password-input>
		<app-confirm-password-input placeholder="Confirm new password"
		                            (formControl)="confirmNewPassword = $event"
		                            name="newPassword"
		                            [otherFormControl]="newPassword"></app-confirm-password-input>
	</form>
	<p class="error">
		Your projects' encryption will still use your old password. This only
		applies until you save them again.
	</p>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button (click)="dialogRef.close()">Cancel</button>
	<button mat-flat-button color="primary" type="submit"
	        form="change-password-form">Change
	</button>
</mat-dialog-actions>
