@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
//@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url('https://fonts.googleapis.com/css?family=Overpass:100,100i,200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
@import '~@angular/material/theming';

@include mat-core(mat-typography-config(
	$font-family: 'Overpass',
	$display-4: mat-typography-level(112px, 112px, 300),
	$display-3: mat-typography-level(56px, 56px, 300),
	$display-2: mat-typography-level(45px, 48px, 300),
	$display-1: mat-typography-level(34px, 40px, 300),
	$headline: mat-typography-level(24px, 32px, 300),
	$title: mat-typography-level(20px, 32px, 400),
	$subheading-2: mat-typography-level(16px, 28px, 300),
	$subheading-1: mat-typography-level(15px, 24px, 300),
	$body-2: mat-typography-level(14px, 24px, 400),
	$body-1: mat-typography-level(14px, 20px, 300),
	$caption: mat-typography-level(12px, 20px, 300),
	$button: mat-typography-level(14px, 14px, 800),
		// Line-height must be unit-less fraction of the font-size.
	$input: mat-typography-level(inherit, 1.125, 300)
));

$primary: mat-palette($mat-cyan, 600);
$accent: mat-palette($mat-blue-grey, 400);
$warn: mat-palette($mat-red, 600);
$theme: mat-dark-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
	background-color: #303030;
	margin: 0;
	height: 100vh;
}

*, .mat-typography h1, .mat-typography h2, .mat-typography .mat-card-title, .mat-typography .mat-toolbar {
	font-weight: 300;
}

b {
	font-weight: 500;
}

app-root {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

app-root > mat-toolbar {
	flex-shrink: 0;
}

app-root > *:not(router-outlet) {
	& {
		padding: 24px;
		height: 100vh;
		display: flex;
		flex-direction: column;
		overflow: scroll;
	}

	> mat-card {
		width: calc(100% - 48px);
		max-width: 400px;

		> mat-divider + * {
			padding-top: 24px;
		}

		mat-spinner {
			margin: 0 auto;
		}
	}

	> * {
		margin: auto;
	}
}

.error {
	color: #ffb300;
}

.mat-card a:not([matLine]):not([mat-flat-button]):not([mat-button]):not(.mat-menu-item):not([mat-list-item]), .link {
	color: mat-color(mat-palette($mat-blue-grey, 400));
	cursor: pointer;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

mat-form-field {
	width: 100%;
}

.buttons {
	float: right;
}

.buttons > * {
	margin-left: 24px !important;
}

.text-with-buttons {
	line-height: 36px;
}

.monaco-menu-container {
	letter-spacing: 0.5px;
}

.mat-button > .mat-button-wrapper, .mat-flat-button > .mat-button-wrapper, .mat-icon-button > .mat-button-wrapper, .mat-stroked-button > .mat-button-wrapper {
	text-transform: uppercase;
	font-weight: 700;
}

.mat-nav-list > .mat-list-item > .mat-list-item-content > .mat-list-text > *,
app-project-item > .mat-list-item > .mat-list-item-content > .mat-list-text > * { // Specificity hacking
	font-weight: 300;
}

p[color='warn'] {
	color: mat-color($warn);
	padding: 1em;
	background-color: transparentize(mat-color($warn), 0.9);
	border-radius: 0.5em;
}

.mat-menu-item[color='warn'] {
	&, & .mat-ripple-element {
		background-color: transparentize(mat-color($warn), 0.9);
	}

	&, & > mat-icon:not([color]) {
		color: mat-color($warn);
	}

	&:hover:not([disabled]) {
		background: transparentize(mat-color($warn), 0.8);
	}
}

.mat-dialog-container {
	overflow: visible !important;
}

.fullwidth {
	width: 100%;
	margin-bottom: 24px !important;
}
