<div class="container" *ngIf="!working">
	<mat-card>
		<mat-card-title>
			Register for an account
		</mat-card-title>
		<mat-divider></mat-divider>
		<mat-card-content>
			<form id="register" (submit)="register()">
				<p>
					<app-username-input [isNewUsername]="true"
					                    (formControl)="username = $event"></app-username-input>
				</p>
				<p>
					<app-password-input [isNewPassword]="true"
					                    (formControl)="password = $event"></app-password-input>
				</p>
				<p>
					<app-confirm-password-input [isNewPassword]="true"
					                            name="confirmPassword"
					                            (formControl)="confirmPassword = $event"
					                            [otherFormControl]="password"></app-confirm-password-input>
				</p>
				<mat-checkbox [formControl]="consent" name="consent">I agree to
					Allotrope Inc.'s
					<a href="https://allotropelabs.com/legal/privacy/"
					   target="_blank" rel="noopener noreferrer">Privacy
						Policy</a>,
					<a href="https://allotropelabs.com/legal/terms/"
					   target="_blank"
					   rel="noopener noreferrer">Terms of Service</a>, and <a
						href="https://allotropelabs.com/legal/contentpolicy/"
						target="_blank" rel="noopener noreferrer">Content
						Policy</a>
				</mat-checkbox>
			</form>
		</mat-card-content>
		<mat-divider></mat-divider>
		<mat-card-actions>
			<a mat-button routerLink="/signin">Sign In</a>
			<div class="buttons">
				<button mat-flat-button color="primary"
				        [disabled]="!formGroup || !formGroup.valid"
				        form="register">
					Register
				</button>
			</div>
		</mat-card-actions>
	</mat-card>
	<app-global-footer></app-global-footer>
</div>
<mat-progress-spinner mode="indeterminate"
                      *ngIf="working"></mat-progress-spinner>
