<mat-card *ngIf="!working">
	<mat-card-title>
		Register for a new account
	</mat-card-title>
	<mat-card-subtitle>
		An account is required to use save functionality.
	</mat-card-subtitle>
	<mat-divider></mat-divider>
	<mat-card-content (keydown.enter)="register()">
		<mat-form-field class="username">
			<input matInput placeholder="Username" [formControl]="username" required>
			<mat-hint>Letters and numbers only, no spaces</mat-hint>
			<mat-hint align="end">{{username.value.length}}/16</mat-hint>
			<mat-error *ngIf="username.invalid">{{getErrorMessage()}}</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input matInput placeholder="Password" [(ngModel)]="password" [type]="showPassword ? 'text' : 'password'"
			       required>
			<button mat-icon-button matSuffix (click)="showPassword = !showPassword">
				<mat-icon>visibility{{showPassword ? '' : '_off'}}</mat-icon>
			</button>
			<mat-error>This field is required</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input matInput placeholder="Confirm Password" [(ngModel)]="confirmPassword"
			       [type]="showPasswordConfirm ? 'text' : 'password'" required>
			<button mat-icon-button matSuffix (click)="showPasswordConfirm = !showPasswordConfirm">
				<mat-icon>visibility{{showPasswordConfirm ? '' : '_off'}}</mat-icon>
			</button>
			<mat-error>This field is required</mat-error>
		</mat-form-field>
	</mat-card-content>
	<mat-card-content>
		<mat-checkbox [(ngModel)]="consent">I agree to the Allotrope Labs <a href="https://allotropelabs.com/legal/privacy/" target="_blank" rel="noopener noreferrer">Privacy Policy</a> and <a href="https://allotropelabs.com/legal/terms/" target="_blank" rel="noopener noreferrer">Terms of Service</a></mat-checkbox>
	</mat-card-content>
	<app-global-footer></app-global-footer>
	<mat-divider></mat-divider>
	<mat-card-content>
		<a mat-button routerLink="/signin">Sign In</a>
		<div class="buttons">
			<button mat-flat-button (click)="register()" [disabled]="usernameError || !consent">Register</button>
		</div>
	</mat-card-content>
</mat-card>
<mat-progress-spinner mode="indeterminate" *ngIf="working"></mat-progress-spinner>
